spring:
  application:
    name: blog
  datasource:
    url: jdbc:mysql://localhost:3306/blog_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8&useUnicode=true
    username: root
    password: 8637
  jpa:
    hibernate:
      ddl-auto: create   # 실행마다 DB 테이블 재생성
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always       # 항상 data.sql 실행
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: d366fd52a1bffdc97155aee52b8c654f
            client-secret: w9o8itfRlbk15gR8e3fhn6S54JLSHjI2
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            scope:
              - profile_nickname
              - profile_image
              - account_email
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

logging:
  level:
    org.springframework.security: DEBUG

jwt:
  secret: Fj9utiukO/Xl4cLycWatYJMzqzrGMdo1Rws/EgjdRMY+pXfR26CzsZIGya9voPOu+Uc/+AOBuSfN4nGVAfWPIg==
  access-token-expiration-ms: 3600000 # 1시간
  refresh-token-expiration-ms: 604800000 # 7일
