name: CI/CD Pipeline

on:
  push:
    branches: [ '설지은/develop' ]   # 트리거!!

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Create application.yml
      run: |
        mkdir -p src/main/resources
        echo "${{ secrets.APPLICATION_YML }}" > src/main/resources/application.yml
      shell: bash

    - name: Build and run Docker containers
      env:
        DB_ROOT_PASSWORD: ${{ secrets.DB_ROOT_PASSWORD }}
        DB_DATABASE: ${{ secrets.DB_DATABASE }}
        DB_USER: ${{ secrets.DB_USER }}
        DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      run: docker-compose up -d --build
